@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Pro";
  src: url("./font/gothampro_light.ttf");
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./font/gothampro.ttf");
}



::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: #873D3D;
  border-radius: 100px;
  border: 3px solid #ffffff;
}

body {
  font-family: "Gotham Pro";
}

.slick-dots {
  position: static;
}

.display-none-1st-img-on-hover:not(:hover) img:nth-child(2) {
  display: none;
}

.display-none-1st-img-on-hover:hover img:nth-child(1) {
  display: none;
}